/* 
  TODO
  [x] Fix card resize
  [x] Fix Type presencial/online can't select on svg/text click
  */
.radio-wrapper{
  display: flex;
  gap: .125rem;
  
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  
  justify-content: space-around;
  
  padding: .25rem;
  
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
}
.radio-inner{
  position: relative;
  display: flex;
  gap: .25rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  
  background-color: var(--input-base);
  
  & input{
    inset: 0;
    position: absolute;
    border: none;
    
    width: 100%;
    height: auto;
    
    background-color: transparent;
  }
  & label{
    color: var(--text-body);
  }
  
  &:hover{
    background-color: var(--shape-hover);
    
  }
  &:has(:checked){
    background-color: var(--shape-button);
    border-radius: .25rem;

    svg{
      path{
        fill: var(--brand-light);
      }
    }
  }
}
.radio-circle{
  display: flex;
  justify-content: space-between;
  
  & input{
    height: 2.5rem;
    width: 2.5rem;
    
    border: .25rem solid var(--shape-button);
    border-radius: 100%;
  }
  
  & input:hover{
    border: .25rem solid var(--brand-hover);
  }
  
  & input:checked{
    outline: 2px solid var(--brand-light);
  }
}
#color_navy{
  background-color: var(--color-navy);
}
#color_purple{
  background-color: var(--color-purple);
}
#color_fuschia{
  background-color: var(--color-fuschia);
}
#color_pink{
  background-color: var(--color-pink);
}
#color_orange{
  background-color: var(--color-orange);
}
#color_yellow{
  background-color: var(--color-yellow);
}
#color_lime{
  background-color: var(--color-lime);
}
#color_green{
  background-color: var(--color-green);
}
#color_cyan{
  background-color: var(--color-cyan);
}

.theme-card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: .25rem;
  align-items: center;
  border-radius: .5rem;

  background-color: var(--shape-button);

  & input{
    position: absolute;
    height: 100%;
    background-color: transparent;
    inset: 0;
  }
  & img{
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
  }
  &:hover{
    background-color: var(--shape-hover);
  }
  & input:checked{
    outline: 2px solid var(--brand-light);
  }
  & label{
    color: var(--text-heading);
  }

}