.radio-wrapper{
  display: flex;
  gap: .125rem;

  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);

  justify-content: space-around;
  
  padding: .25rem;

  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
}
.radio-inner{
  position: relative;
  display: flex;
  gap: .25rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  
  border: 1px solid transparent;
  border-radius: .25rem;
  
  background-color: var(--input-base);

  & input{
    inset: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
  }
  & label{
    color: var(--text-body);
  }
  & svg{
    fill: var(--input-placeholder);
  }

  &:hover{
    background-color: var(--shape-hover);

  }
.radio-circle{
  display: flex;
  justify-content: space-between;

  & input{
    height: 2.5rem;
    width: 2.5rem;
    
    border: .25rem solid var(--shape-button);
    border-radius: 100%;
  }
  
  & input:hover{
    border: .25rem solid var(--brand-hover);
  }
  
  & input:checked{
    outline: 2px solid var(--brand-light);
  }
}
#color_navy{
  background-color: var(--color-navy);
}
#color_purple{
  background-color: var(--color-purple);
}
#color_fuschia{
  background-color: var(--color-fuschia);
}
#color_pink{
  background-color: var(--color-pink);
}
#color_orange{
  background-color: var(--color-orange);
}
#color_yellow{
  background-color: var(--color-yellow);
}
#color_lime{
  background-color: var(--color-lime);
}
#color_green{
  background-color: var(--color-green);
}
#color_cyan{
  background-color: var(--color-cyan);
}

    background-color: var(--shape-hover);
  }

}