.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.gap-1{
  gap: 1rem;
}
.grid-col-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.divisor{
  border: 1px solid var(--input-stroke);
  margin-block: 2.5rem;
}
.grid-1-2{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.center{
  align-items: center;
}